@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-cerise-red-50: #fcf3f6;
  --color-cerise-red-100: #f9eaf0;
  --color-cerise-red-200: #f6d4e0;
  --color-cerise-red-300: #efb2c6;
  --color-cerise-red-400: #e482a0;
  --color-cerise-red-500: #d85c7e;
  --color-cerise-red-600: #c74462;
  --color-cerise-red-700: #aa2c45;
  --color-cerise-red-800: #8d273a;
  --color-cerise-red-900: #762535;
  --color-cerise-red-950: #47101a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-cerise-red-50);
  --foreground: var(--color-cerise-red-900);
  --card: #fff7fa;
  --card-foreground: var(--color-cerise-red-900);
  --popover: #fff7fa;
  --popover-foreground: var(--color-cerise-red-900);
  --primary: var(--color-cerise-red-600);
  --primary-foreground: #fffafc;
  --secondary: var(--color-cerise-red-100);
  --secondary-foreground: var(--color-cerise-red-800);
  --muted: var(--color-cerise-red-100);
  --muted-foreground: var(--color-cerise-red-500);
  --accent: var(--color-cerise-red-200);
  --accent-foreground: var(--color-cerise-red-800);
  --destructive: var(--color-cerise-red-800);
  --border: var(--color-cerise-red-100);
  --input: #fde6ee;
  --ring: var(--color-cerise-red-400);
  --chart-1: var(--color-cerise-red-600);
  --chart-2: var(--color-cerise-red-400);
  --chart-3: var(--color-cerise-red-300);
  --chart-4: var(--color-cerise-red-200);
  --chart-5: var(--color-cerise-red-800);
  --sidebar: #fff;
  --sidebar-foreground: var(--color-cerise-red-900);
  --sidebar-primary: var(--color-cerise-red-600);
  --sidebar-primary-foreground: #fffafc;
  --sidebar-accent: var(--color-cerise-red-100);
  --sidebar-accent-foreground: var(--color-cerise-red-800);
  --sidebar-border: var(--color-cerise-red-100);
  --sidebar-ring: var(--color-cerise-red-400);
}

.dark {
  --background: var(--color-cerise-red-950);
  --foreground: var(--color-cerise-red-50);
  --card: var(--color-cerise-red-900);
  --card-foreground: var(--color-cerise-red-50);
  --popover: var(--color-cerise-red-900);
  --popover-foreground: var(--color-cerise-red-50);
  --primary: var(--color-cerise-red-400);
  --primary-foreground: var(--color-cerise-red-950);
  --secondary: var(--color-cerise-red-800);
  --secondary-foreground: var(--color-cerise-red-50);
  --muted: var(--color-cerise-red-800);
  --muted-foreground: var(--color-cerise-red-200);
  --accent: var(--color-cerise-red-700);
  --accent-foreground: var(--color-cerise-red-50);
  --destructive: var(--color-cerise-red-950);
  --border: var(--color-cerise-red-800);
  --input: var(--color-cerise-red-800);
  --ring: var(--color-cerise-red-600);
  --chart-1: var(--color-cerise-red-300);
  --chart-2: var(--color-cerise-red-500);
  --chart-3: var(--color-cerise-red-700);
  --chart-4: var(--color-cerise-red-800);
  --chart-5: var(--color-cerise-red-200);
  --sidebar: var(--color-cerise-red-900);
  --sidebar-foreground: var(--color-cerise-red-50);
  --sidebar-primary: var(--color-cerise-red-400);
  --sidebar-primary-foreground: var(--color-cerise-red-950);
  --sidebar-accent: var(--color-cerise-red-800);
  --sidebar-accent-foreground: var(--color-cerise-red-50);
  --sidebar-border: var(--color-cerise-red-800);
  --sidebar-ring: var(--color-cerise-red-500);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
